<!-- Enlazar y extender la plantilla del archivo layout.ejs-->
 <%- include('layout', { title: 'Esta es la página de inicio'}) %>

 <!--Contenido principal del home-->
 <section>
    <h2>Beinvenidos a la Página Principal de mi Aplicación con NodeJS y ExpressJS</h2>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Possimus nesciunt dolores exercitationem blanditiis explicabo tempore, maxime porro nemo sapiente sunt nulla ad numquam harum dolore nisi labore voluptatem, repellendus quaerat!</p>
 </section>