<!-- Extiende la plantilla 'layout.ejs' -->
<%- include('layout', { title: 'Página de Inicio' }) %>

<!-- Contenido específico de la página de inicio -->
<section>
    <h2>Bienvenido a la Página de Inicio</h2>
    <p>Esta es una aplicación web dinámica construida con Express.js y EJS.</p>
</section>
